/* =====================
   GLOBAL LAYOUT
===================== */
body {
  background-color: #28a745;
  font-family: Arial, sans-serif;
  color: #000;
  padding: 20px;
  text-align: center;
}

h1, h2, h3 { margin-bottom: 20px; }

#logo { margin-bottom: 20px; }

.logo-img {
  max-width: 600px;
  width: 100%;
  height: auto;
}

/* =====================
   FORM ELEMENTE
===================== */
button {
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  border: none;
}

input[type="text"],
input[type="password"],
select {
  padding: 5px;
  margin: 5px 0;
  width: 200px;
  border-radius: 4px;
  border: none;
}
